@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .start-menu {
        @apply 
            grid 
            grid-cols-2 
            grid-rows-10
            w-96 
            h-[436px] 
            rounded-t-lg      
            bg-white/50;
    }
    .start-menu header {
        @apply
            col-span-2 
            row-span-2
            rounded-t-lg
            border-t 
            border-x 
            border-solid 
            border-[#0831d9];

        box-shadow: 0px 1px  22px #0832d99f inset;
    }
    .clock {
        @apply text-sm text-white;

        text-shadow: 1px 1px #0f1089;
    }
    dialog {
        @apply 
            absolute 
            p-0 
            m-0 
            rounded-t-lg
            top-[100px]
            left-[150px];

        box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda, inset 3px 3px #0855dd;
    }    
    dialog header {
        @apply 
            flex
            justify-between
            px-2
            py-1
            cursor-move 
            h-8 
            bg-window-header 
            border-x 
            border-t 
            border-solid 
            border-t-[#0831d9] 
            border-l-[#0831d9] 
            border-r-[#001ea0] 
            rounded-t-lg
            text-white;
        
        text-shadow: 1px 1px #0f1089;
    }
    dialog section {
        @apply w-[600px] h-[300px] mr-1 mb-1;
    }
    dialog .resizer-right {
        @apply w-[5px] h-full bg-transparent absolute right-0 bottom-0 cursor-e-resize;
    }  
    dialog .resizer-bottom {
        @apply w-full h-[5px] bg-transparent absolute right-0 bottom-0 cursor-n-resize;
    }  
    dialog .resizer-both {
        @apply w-[5px] h-[5px] bg-transparent absolute right-0 bottom-0 cursor-nw-resize z-10;
    }
    footer {
        @apply fixed flex items-stretch bottom-0 left-0 w-full h-8 bg-taskbar z-[9999];
    }
    footer .window-opened {
        @apply 
            flex 
            items-center 
            px-2  
            gap-1
            h-[80%]
            border 
            rounded-sm 
            truncate
            bg-[#3980f4] 
            border-[#255be1]
            hover:bg-[#1b50b8]
            hover:border-[#082875];

        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.267) inset;
    }
}